@model LTWeb08_Bai03.Models.tbl_Employee

@{
    ViewBag.Title = "Xóa nhân viên";
}

<h2>Xóa nhân viên</h2>

<h3>Bạn có chắc muốn xóa nhân viên này không?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Mã nhân viên</dt>
        <dd>@Model.Id</dd>

        <dt>Họ và Tên</dt>
        <dd>@Model.Name</dd>

        <dt>Giới tính</dt>
        <dd>@Model.Gender</dd>

        <dt>Thành phố</dt>
        <dd>@Model.City</dd>

        <dt>Phòng ban</dt>
        <dd>@(Model.tbl_Deparment != null ? Model.tbl_Deparment.Name : "")</dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
